@model DigiBadges.DataAccess.Pathways
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Pathway";
}




<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 border-bottom text-center">
            <h2 class="text-primary">@title</h2>
            <div class="text-center"><p>Pathway help you to create the steps and assign it to all Earner/Employees.</p></div>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PathwayName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PathwayName" class="form-control" />
                    <span asp-validation-for="PathwayName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="InstituteName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="InstituteName" class="form-control" />
                    <span asp-validation-for="InstituteName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="InstituteUrl"></label>
                </div>
                <div class="col-8">
                    <input asp-for="InstituteUrl" class="form-control" />
                    <span asp-validation-for="InstituteUrl" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">

                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger form-control">Cancel</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success form-control">Create Pathway</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}


@*@model DigiBadges.DataAccess.ViewModels.PathwayVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Pathway";
}*@




@*<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 border-bottom text-center">
            <h2 class="text-primary">@title</h2>
            <div class="text-center"><p>Pathway help you to create the steps and assign it to all Earner/Employees.</p></div>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.pathway.PathwayName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.pathway.PathwayName" class="form-control" />
                    <span asp-validation-for="@Model.pathway.PathwayName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.pathway.InstituteName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.pathway.InstituteName" class="form-control" />
                    <span asp-validation-for="@Model.pathway.InstituteName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.pathway.InstituteUrl"></label>
                </div>
                <div class="col-8">
                    <input asp-for="@Model.pathway.InstituteUrl" class="form-control" />
                    <span asp-validation-for="@Model.pathway.InstituteUrl" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.pathway.IssuersId">Badges</label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.pathway.IssuersId" class="form-control">
                        <option selected disabled>Select</option>
                        @foreach (var issuer in Model.GetIssuersinList)
                        {
                            <option value="@issuer.Id">@issuer.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.pathway.IssuersId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">

                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger form-control">Cancel</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success form-control">Create Pathway</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}*@